# Feature Engineering - House Price Prediction

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Importing the train dataset
dataset=pd.read_csv('train.csv')
dataset.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

It is always advised to do the test train split which will neglet the risk of data leakage:

In [3]:
# While doing feature engineering it is allways advised to split the data incase you are not having -
# seperate train test data available.
# from sklearn.model_selection import train_test_split
# x_train,x_test,y_train,y_test=train_test_split(dataset,dataset['SalePrice'],test_size=0.1,random_state=0)

## Missing Values:

In [8]:
#Handling the missing categorical features:
cat_features_null=[features for features in dataset.columns if dataset[features].isnull().sum()>1 and dataset[features].dtypes=='O']
for feature in cat_features_null:
    print("Percentage of null present in ",feature," is ",np.round(dataset[feature].isnull().mean(),4))

Percentage of null present in  Alley  is  0.9377
Percentage of null present in  MasVnrType  is  0.0055
Percentage of null present in  BsmtQual  is  0.0253
Percentage of null present in  BsmtCond  is  0.0253
Percentage of null present in  BsmtExposure  is  0.026
Percentage of null present in  BsmtFinType1  is  0.0253
Percentage of null present in  BsmtFinType2  is  0.026
Percentage of null present in  FireplaceQu  is  0.4726
Percentage of null present in  GarageType  is  0.0555
Percentage of null present in  GarageFinish  is  0.0555
Percentage of null present in  GarageQual  is  0.0555
Percentage of null present in  GarageCond  is  0.0555
Percentage of null present in  PoolQC  is  0.9952
Percentage of null present in  Fence  is  0.8075
Percentage of null present in  MiscFeature  is  0.963

In [10]:
# Replacing the missing values in categorical_features with the word 'Missing':
#Function to replace the null values in categorical features:
def replace_cat_features(dataset,cat_feature):
    data=dataset.copy()
    data[cat_feature]=data[cat_feature].fillna('Missing')
    return data
dataset=replace_cat_features(dataset,cat_features_null)
dataset[cat_features_null].isnull().sum()

Alley           0
MasVnrType      0
BsmtQual        0
BsmtCond        0
BsmtExposure    0
BsmtFinType1    0
BsmtFinType2    0
FireplaceQu     0
GarageType      0
GarageFinish    0
GarageQual      0
GarageCond      0
PoolQC          0
Fence           0
MiscFeature     0
dtype: int64

In [11]:
dataset.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Missing,Reg,Lvl,AllPub,...,0,Missing,Missing,Missing,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Missing,Reg,Lvl,AllPub,...,0,Missing,Missing,Missing,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,Missing,IR1,Lvl,AllPub,...,0,Missing,Missing,Missing,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,Missing,IR1,Lvl,AllPub,...,0,Missing,Missing,Missing,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,Missing,IR1,Lvl,AllPub,...,0,Missing,Missing,Missing,0,12,2008,WD,Normal,250000

In [13]:
#Handling numerical features with null values:
num_features_null=[features for features in dataset.columns if dataset[features].isnull().sum()>1 and dataset[features].dtypes!='O']
for feature in num_features_null:
    print("Percentage of null in ",feature," is ",np.round(dataset[feature].isnull().mean(),4))

Percentage of null in  LotFrontage  is  0.1774
Percentage of null in  MasVnrArea  is  0.0055
Percentage of null in  GarageYrBlt  is  0.0555

In [ ]:
#Function to replace the null values in numerical features: