### Multiple Linear Regression Implementation

Here we have one dependent variable and two or more independent variables.

In [6]:
%pip install numpy
%pip install pandas
%pip install matplotlib

Requirement already satisfied: numpy in c:\users\akhil mn\appdata\local\programs\python\python38\lib\site-packages (1.21.4)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.1; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\users\akhil mn\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: pandas in c:\users\akhil mn\appdata\local\programs\python\python38\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in c:\users\akhil mn\appdata\local\programs\python\python38\lib\site-packages (from pandas) (1.21.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\akhil mn\appdata\local\programs\python\python38\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\akhil mn\appdata\local\programs\python\python38\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\akhil mn\appdata\local\programs\python\python38\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.1; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\users\akhil mn\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: matplotlib in c:\users\akhil mn\appdata\local\programs\python\python38\lib\site-packages (3.5.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\akhil mn\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (4.28.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\akhil mn\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (8.4.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\akhil mn\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: numpy>=1.17 in c:\users\akhil mn\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (1.21.4)
Requirement already satisfied: packaging>=20.0 in c:\users\akhil mn\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\akhil mn\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\akhil mn\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\akhil mn\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (3.0.6)
Requirement already satisfied: setuptools-scm>=4 in c:\users\akhil mn\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (6.3.2)
Requirement already satisfied: six>=1.5 in c:\users\akhil mn\appdata\local\programs\python\python38\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: setuptools in c:\users\akhil mn\appdata\local\programs\python\python38\lib\site-packages (from setuptools-scm>=4->matplotlib) (56.0.0)
Requirement already satisfied: tomli>=1.0.0 in c:\users\akhil mn\appdata\local\programs\python\python38\lib\site-packages (from setuptools-scm>=4->matplotlib) (1.2.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.1; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\users\akhil mn\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#Importing the data set

In [13]:
dataset=pd.read_csv("50_Startups.csv")
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [ ]:
#Redefining the dependent and independent variable.

In [23]:
x=dataset.iloc[:,:-1]
y=dataset.iloc[:,4]

In [24]:
#Converting the state column into categorical columns.
state=pd.get_dummies(x['State'],drop_first=True)
state.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

In [25]:
#Removing state column from the independent features
x=x.drop('State',axis=1)
x.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [26]:
#Concatenating state with x
x=pd.concat([x,state],axis=1)
x.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [28]:
%pip install sklearn
#Splitting the model into training and test set
from sklearn.model_selection import train_test_split

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Note: you may need to restart the kernel to use updated packages.
Collecting scikit-learn
  Downloading scikit_learn-1.0.1-cp38-cp38-win_amd64.whl (7.2 MB)
Requirement already satisfied: numpy>=1.14.6 in c:\users\akhil mn\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn->sklearn) (1.21.4)
Collecting scipy>=1.1.0
  Downloading scipy-1.7.3-cp38-cp38-win_amd64.whl (34.2 MB)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.0.0-py3-none-any.whl (14 kB)
Collecting joblib>=0.11
  Downloading joblib-1.1.0-py2.py3-none-any.whl (306 kB)
Using legacy 'setup.py install' for sklearn, since package 'wheel' is not installed.
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn, sklearn
    Running setup.py install for sklearn: started
    Running setup.py install for sklearn: finished with status 'done'
Successfully installed joblib-1.1.0 scikit-learn-1.0.1 scipy-1.7.3 sklearn-0.0 threadpoolctl-3.0.0

WARNING: You are using pip version 21.1.1; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\users\akhil mn\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

In [29]:
x_test,x_train,y_test,y_train=train_test_split(x,y,test_size=0.2,random_state=0)

In [30]:
#Fitting Multiple linear Regression to the training set
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [33]:
#Predicting the test set results
y_predict=regressor.predict(x_test)
y_predict

array([101542.16079665,  95366.6498966 , 114989.56054536,  85366.66005856,
       129438.68167924, 157637.92613197, 148726.2683983 ,  55091.85470335,
        67347.83160341, 104523.53759991, 148477.42589554, 109436.93745482,
       111244.88465703, 118202.71379539,  77746.76654919, 116788.09720347,
        66413.44995065, 147633.14277396, 128750.78275179, 107419.73383307,
       164572.67945785, 125996.49637984,  77600.53602864,  56409.03260636,
       182884.09280194, 130599.98780093, 102241.71914096, 123011.92790612,
       169318.03273931, 108798.92213081,  73712.25397654, 109270.93780398,
       126828.71623259, 159794.11813918,  92527.25805403,  47789.0612887 ,
       171824.13112433, 184465.14828294,  54750.60300625,  70339.68197008])

In [35]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_predict)
score

0.9101215232809357