## Updating rows and columns in Pandas:

In [2]:
import pandas as pd
people={'first':['Akhil','Anusree','Ancy'],
       'second':['Muraleedharan','Muraleedharan','S Kumar'],
       'email':['akhil@gmail.com','anu@gmail.com','ancy@gmail.com']}
df=pd.DataFrame(people)
df

     first         second            email
0    Akhil  Muraleedharan  akhil@gmail.com
1  Anusree  Muraleedharan    anu@gmail.com
2     Ancy        S Kumar   ancy@gmail.com

In [4]:
# Changing the column names using pandas
df.columns=['first_name','last_name','email_id']
df

  first_name      last_name         email_id
0      Akhil  Muraleedharan  akhil@gmail.com
1    Anusree  Muraleedharan    anu@gmail.com
2       Ancy        S Kumar   ancy@gmail.com

In [6]:
#converting the column names into upper case
df.columns=[x.upper() for x in df.columns]
df

  FIRST_NAME      LAST_NAME         EMAIL_ID
0      Akhil  Muraleedharan  akhil@gmail.com
1    Anusree  Muraleedharan    anu@gmail.com
2       Ancy        S Kumar   ancy@gmail.com

In [9]:
#Replacing certain charecters in the column names
df.columns=df.columns.str.replace('_',' ')
df

  FIRST NAME      LAST NAME         EMAIL ID
0      Akhil  Muraleedharan  akhil@gmail.com
1    Anusree  Muraleedharan    anu@gmail.com
2       Ancy        S Kumar   ancy@gmail.com

In [11]:
#Renaming column names(inplace is necessary to make the changes permanently reflect to the dataframes)
df.rename(columns={'FIRST NAME':"First", 'LAST NAME':'Last','EMAIL ID':'email'},inplace=True)
df

     First           Last            email
0    Akhil  Muraleedharan  akhil@gmail.com
1  Anusree  Muraleedharan    anu@gmail.com
2     Ancy        S Kumar   ancy@gmail.com